@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-50 text-gray-800;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.decor-item {
  width: 60px;
  opacity: 0.26;
  animation: floaty 11s ease-in-out infinite;
}

@keyframes floaty {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-18px) rotate(2deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}
